header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
  position: relative;
  background: #ffffff;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
}

.logo img {
  height: 50px;
}

.center-admin-title p{
  /* font-size: 20px; */
  font-weight: 700;
}

/* Navigation links */
.nav-links {
  display: flex;
  gap: 20px;
  font-weight: 500;
  color: #222;
}

/* Profile button area */
.profile-area {
  position: relative;
  cursor: pointer;
}

.profile-btn {
  border: 1px solid #ddd;
  border-radius: 30px;
  display: flex;
  align-items: center;
  padding: 6px 12px;
  gap: 10px;
  background: #fff;
  font-weight: 500;
  font-size: 16px;
}

/* Dropdown menu */
.dropdown {
  position: absolute;
  top: 60px;
  right: 0;
  background: white;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  border-radius: 12px;
  overflow: hidden;
  width: 200px;
  z-index: 100;
}

.dropdown a,
.dropdown button {
  border: none;
  background-color: #ffffff;
  padding: 12px 16px;
  text-align: left;
  display: block;
  width: 100%;
  font-size: 14px;
  text-decoration: none;
  color: #333;
  border-bottom: 1px solid #eee;
  cursor: pointer;
}

.dropdown a:last-child,
.dropdown button:last-child {
  border-bottom: none;
}

.dropdown a:hover,
.dropdown button:hover {
  background-color: #f2f2f2;
}
